body {
    background-color: azure;
    padding: 10px;
}

h1, h2 {
    margin: 0px;
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

p {
    background-color: hsl(120, 80%, 90%);
    padding: 0px 20px;
    text-align: justify;
}

.center {
    display: flex;
    justify-content: center;
}

caption {
    font-weight: 600;
    font-size: 25px;
}

table, th, td {
    border: thin solid;
    border-collapse: collapse;
    padding: 2px 5px;
}

td:nth-child(3), td:nth-child(4) {
    text-align: right;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 40%;
    padding: 0px 20px;
    text-align: justify;
}